// define url

$mz-image-url: '../images';
$mz-images-svg-url: $mz-image-url + '/svg';
$mz-upload-url: '../../upload';
$mz-lazyload-image-url: $mz-image-url + '/icons/loading-globe-gray.png';
$mz-loading-image-url: $mz-image-url + '/gif/loading-globe.gif';
$mz-fonts-url: '../fonts';
$mz-css-libs-url: '../libs';