// Roboto sans
// ---------
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    url($mz-fonts-url + '/Roboto/Roboto-Regular.woff2') format('woff2'),
    url($mz-fonts-url + '/Roboto/Roboto-Regular.woff2') format('woff'),
    url($mz-fonts-url + '/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  src:
    local('Roboto Italic'),
    local('Roboto-Italic'),
    url($mz-fonts-url + '/Roboto/Roboto-Italic.woff2'),
    url($mz-fonts-url + '/Roboto/Roboto-Italic.woff'),
    url($mz-fonts-url + '/Roboto/Roboto-Italic.ttf');;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
    local('Roboto Medium'),
    local('Roboto-Medium'),
    url($mz-fonts-url + '/Roboto/Roboto-Medium.woff2'),
    url($mz-fonts-url + '/Roboto/Roboto-Medium.woff'),
    url($mz-fonts-url + '/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    local('Roboto Bold'),
    local('Roboto-Bold'),
    url($mz-fonts-url + '/Roboto/Roboto-Bold.woff2'),
    url($mz-fonts-url + '/Roboto/Roboto-Bold.woff'),
    url($mz-fonts-url + '/Roboto/Roboto-Bold.ttf');
}

// Roboto Condensed

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: condensed;
  src:
    local('RobotoCondensed Light'),
    local('RobotoCondensed-Light'),
    url($mz-fonts-url + '/Roboto-Condensed/RobotoCondensed-Light.woff2'),
    url($mz-fonts-url + '/Roboto-Condensed/RobotoCondensed-Light.woff'),
    url($mz-fonts-url + '/Roboto-Condensed/RobotoCondensed-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-stretch: condensed;
  src:
    local('RobotoCondensed Regular'),
    local('RobotoCondensed-Regular'),
    url($mz-fonts-url + '/Roboto-Condensed/RobotoCondensed-Regular.woff2'),
    url($mz-fonts-url + '/Roboto-Condensed/RobotoCondensed-Regular.woff'),
    url($mz-fonts-url + '/Roboto-Condensed/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: condensed;
  src:
    local('RobotoCondensed Bold'),
    local('RobotoCondensed-Bold'),
    url($mz-fonts-url + '/Roboto-Condensed/RobotoCondensed-Bold.woff2'),
    url($mz-fonts-url + '/Roboto-Condensed/RobotoCondensed-Bold.woff'),
    url($mz-fonts-url + '/Roboto-Condensed/RobotoCondensed-Bold.ttf');
}

// Barlow
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src:
    local('Barlow Regular'),
    url($mz-fonts-url + '/Barlow/Barlow-Regular.woff2') format('woff2'),
    url($mz-fonts-url + '/Barlow/Barlow-Regular.woff') format('woff'),
    url($mz-fonts-url + '/Barlow/Barlow-Regular.ttf');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src:
    local('Barlow Medium'),
    local('Barlow-Medium'),
    url($mz-fonts-url + '/Barlow/Barlow-Medium.woff2') format('woff2'),
    url($mz-fonts-url + '/Barlow/Barlow-Medium.woff') format('woff'),
    url($mz-fonts-url + '/Barlow/Barlow-Medium.ttf');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src:
    local('Barlow Bold'),
    local('Barlow-Bold'),
    url($mz-fonts-url + '/Barlow/Barlow-Bold.woff2') format('woff2'),
    url($mz-fonts-url + '/Barlow/Barlow-Bold.woff') format('woff'),
    url($mz-fonts-url + '/Barlow/Barlow-Bold.ttf');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  src:
    local('Barlow Extra Bold'),
    local('Barlow-ExtraBold'),
    url($mz-fonts-url + '/Barlow/Barlow-ExtraBold.woff2') format('woff2'),
    url($mz-fonts-url + '/Barlow/Barlow-ExtraBold.woff') format('woff'),
    url($mz-fonts-url + '/Barlow/Barlow-ExtraBold.ttf');
}

// Barlow Condensed
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-stretch: semi-condensed;
  src:
    local('BarlowCondensed Regular'),
    url($mz-fonts-url + '/Barlow-Condensed/BarlowCondensed-Regular.woff2') format('woff2'),
    url($mz-fonts-url + '/Barlow-Condensed/BarlowCondensed-Regular.woff') format('woff'),
    url($mz-fonts-url + '/Barlow-Condensed/BarlowCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-stretch: semi-condensed;
  src:
    local('BarlowCondensed Medium'),
    local('BarlowCondensed-Medium'),
    url($mz-fonts-url + '/Barlow-Condensed/BarlowCondensed-Medium.woff2') format('woff2'),
    url($mz-fonts-url + '/Barlow-Condensed/BarlowCondensed-Medium.woff') format('woff'),
    url($mz-fonts-url + '/Barlow-Condensed/BarlowCondensed-Medium.ttf');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-stretch: semi-condensed;
  src:
    local('BarlowCondensed Bold'),
    local('BarlowCondensed-Bold'),
    url($mz-fonts-url + '/Barlow-Condensed/BarlowCondensed-Bold.woff2') format('woff2'),
    url($mz-fonts-url + '/Barlow-Condensed/BarlowCondensed-Bold.woff') format('woff'),
    url($mz-fonts-url + '/Barlow-Condensed/BarlowCondensed-Bold.ttf');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  font-stretch: semi-condensed;
  src:
    local('BarlowCondensed ExtraBold'),
    local('BarlowCondensed-ExtraBold'),
    url($mz-fonts-url + '/Barlow-Condensed/BarlowCondensed-ExtraBold.woff2') format('woff2'),
    url($mz-fonts-url + '/Barlow-Condensed/BarlowCondensed-ExtraBold.woff') format('woff'),
    url($mz-fonts-url + '/Barlow-Condensed/BarlowCondensed-ExtraBold.ttf');
}

// Oswald
// ---------
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src:
    local('Oswald Regular'),
    local('Oswald-Regular'),
    url($mz-fonts-url + '/Oswald/Oswald-Regular.ttf');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src:
    local('Oswald Bold'),
    local('Oswald-Bold'),
    url($mz-fonts-url + '/Oswald/Oswald-Bold.ttf');
}

// Flow rounded
// ---------
@font-face {
  font-family: 'flow rounded';
  font-style: normal;
  font-weight: 400;
  src: url($mz-fonts-url + '/flow/flow-rounded.woff');
}
