$_arrFormSize: 'xl', 'lg', 'md', 'sm', 'xs';
$_arrBrdSize: 'circle', 'round', 'xl', 'lg', 'md', 'sm', 'xs';
$_padding-select-box: getSpacingFromBase(1.5); // canh cho dropdown icon
input {
  &.is-read-only, &:read-only {
    background: getColorInPaletteMap('gray','lightest');
    color: getColorInPaletteMap('gray','light');
  }
}
@each $_formSize in $_arrFormSize {
  // Form control
  .mz-form-control-#{$_formSize} {
    $height: mz-get-height-button-form($_formSize);
    $font-size: mz-get-btn-font-size($_formSize);
    height: $height;
    font-size: $font-size;
    line-height: mz-get-line-height-from-font-size($font-size);
    position: relative;
    .mz-form-control {
      &__input {
        height: 100%;
        width: 100%;
        padding: 0 getSpacingFromBase(1.5);
        border-radius: $mz-brd-default;
        @include mz-get-border-gray-color('lighter');
        transition: $mz-transition-time-default;
        color: $mz-gray-root;
        background: #ffffff;
        &:focus {
          @include mz-get-border-gray-color('root');
          outline: none;
        }
        &.is-disabled, &:disabled {
          pointer-events: none;
          cursor: not-allowed;
        }
        &.is-disabled, &:disabled {
          background: getColorInPaletteMap('gray','lightest');
          color: $mz-gray-light;
        }
        // Create border radius class
        @each $_brdSize in $_arrBrdSize {
          &.mz-brd-#{$_brdSize} {
            border-radius: mz-get-brd($_brdSize);
          }
        }
        &.mz-form-control-line {
          padding: 0;
          border: solid 1px transparent;
          border-bottom: solid 1px getColorInPaletteMap('gray','lighter');
          border-radius: 0px;
          &:focus {
            border-bottom: solid 1px getColorInPaletteMap('gray','root');
            // &::placeholder{
            //   color:getColorInPaletteMap('gray','root');
            // }
          }
        }
      }
    }
    button {
      position: absolute;
      content: "";
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: $height;
      height: $height;
    }
  }
  // end Form control
  // Select control
  .mz-select-control-#{$_formSize} {
    height: mz-get-height-button-form($_formSize);
    $font-size: mz-get-btn-font-size($_formSize);
    line-height: mz-get-line-height-from-font-size($font-size);
    font-size: $font-size;
    position: relative;
    .mz-select-control {
      &__input {
        height: 100%;
        width: 100%;
        padding: 0 $_padding-select-box*2 0 $_padding-select-box;
        border-radius: $mz-brd-default;
        @include mz-get-border-gray-color('lighter');
        transition: $mz-transition-time-default;
        color: getColorInPaletteMap('gray','root');
        background: #ffffff;
        font-size: $font-size;
        line-height: mz-get-line-height-from-font-size($font-size);
        &:focus {
          @include mz-get-border-gray-color('root');
          outline: none;
        }
        &.is-disabled, &:disabled {
          pointer-events: none;
          cursor: not-allowed;
        }
        &.is-disabled, &:disabled {
          background: getColorInPaletteMap('gray','lightest');
          color: getColorInPaletteMap('gray','light');
        }
        // Create border radius class
        @each $_brdSize in $_arrBrdSize {
          &.mz-brd-#{$_brdSize} {
            border-radius: mz-get-brd($_brdSize);
          }
        }
        &.mz-select-control-line {
          padding: 0;
          border: solid 1px transparent;
          border-bottom: solid 1px getColorInPaletteMap('gray','lighter');
          border-radius: 0px;
          &:focus {
            border-bottom: solid 1px getColorInPaletteMap('gray','root');
            // &::placeholder{
            //   color:getColorInPaletteMap('gray','root');
            // }
          }
        }
      }
    }
    // Create custom dropdown icon
    &:before {
      position: absolute;
      @include mz-get-font-awesome-icon('\f107', 'light');
      transform: translateY(2px);
      right: $_padding-select-box;
      pointer-events: none;
      height: 100%;
      display: flex;
      align-items: center
    }
  }
  // end Select control
}
.mz-select-control {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  flex-direction: row;
}
.mz-select-control-line:before {
  right: 0;
}
.mz-select-control-label {
  @include getSizeOfText(14px);
  font-weight: bold;
  color: $mz-gray-root;
  padding: getSpacingFromBase(1) 0;
}
select {
  // hide dropdown icon
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.mz-form-control-textarea {
  height: getSpacingFromBase(12);
  width: 100%;
  padding: getSpacingFromBase(1.5);
  border-radius: $mz-brd-default;
  border: solid 1px $mz-gray-lighter;
  transition: $mz-transition-time-default;
  color: $mz-gray-root;
  background: #ffffff;
  resize: none;
  &:focus {
    border: solid 1px $mz-gray-root;
    outline: none;
  }
  &.is-disabled, &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    background: getColorInPaletteMap('gray','lightest');
    color: $mz-gray-light;
  }
  &.mz-form-control-line {
    padding: getSpacingFromBase(1.25) 0;
    border: solid 1px transparent;
    border-bottom: solid 1px $mz-gray-lighter;
    border-radius: 0px;
    transition: $mz-transition-time-default;
    @include placeholder {
      color: $mz-gray-lighter;
    }
    &:focus {
      border-bottom: solid 1px $mz-gray-root;
    }
    // @include placeholder-focus{
    //   color: $mz-gray-root;
    // }
  }
}
.mz-auto-expand {
  padding: getSpacingFromBase(1.25) getSpacingFromBase(1.5);
  height: unset;
  @include getSizeOfText(14px);
}
.mz-auto-expand-shadow {
  max-height: 0;
  pointer-events: none;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: unset;
}
.mz-form-control-label {
  padding-bottom: getSpacingFromBase(1);
  text-align: left;
}
.mz-form-item {
  width: 100%;
  padding-bottom: getSpacingFromBase(3);
  position: relative;
}
.mz-form-row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.mz-form-mutiple-col {
  @include mq-sm-up {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 0 getSpacingFromBase(-1);
    width: 100%;
  }
  .mz-form-control {
    width: 100%;
  }
}
.mz-form-mutiple-col .mz-form-item{
  @include mq-sm-up {
    padding: 0 getSpacingFromBase(1) getSpacingFromBase(3);
    flex: 1;
  }
}
.mz-form-single-col{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  .mz-form-control {
    width: 100%;
  }
  .mz-select-control {
    width: 100%;
  }
}
.mz-form-phone-email {
  @include mq-md-up {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.mz-form-phone-email .mz-form-item {
  @include mq-md-up {
    &:first-child {
      margin-right: getSpacingFromBase(2);
    }
  }
}
.mz-select-date {
  margin-right: getSpacingFromBase(1);
  &:last-child {
    margin-right: 0;
  }
}
.mz-form-control-des {
  @include getSizeOfText(13px);
  color: $mz-gray-light;
  padding-top: getSpacingFromBase(1);
}
// ######################### Check box ############################
// ######################### Check box ############################
.mz-checkbox-control {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: baseline;
  justify-content: flex-start;
}
.mz-checkbox-input-wrapper {
  display: flex;
}
.mz-checkbox-label {
  margin-left: getSpacingFromBase(1);
}
.mz-checkbox-input-wrapper {
  display: block;
  position: relative;
  padding-left: getSpacingFromBase(3);
  cursor: pointer;
  @include getSizeOfText(14px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mz-checkbox-input-wrapper .mz-checkbox-input {
  display: none;
}
.mz-checkbox-input-style {
  position: absolute;
  top: 3px;
  left: 0;
  height: 16px;
  width: 16px;
  background: transparent;
  border: solid 1px $mz-gray-light;
}
.mz-checkbox-input-wrapper .mz-checkbox-input:checked ~ .mz-checkbox-input-style {
  border: solid 1px $mz-primary-root;
}
.mz-checkbox-input-style:after {
  content: "";
  position: absolute;
  display: none;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  top: -1px;
  left: -1px;
  align-items: center;
  justify-content: center;
}
.mz-checkbox-input-wrapper .mz-checkbox-input:checked ~ .mz-checkbox-input-style:after {
  display: flex;
}
.mz-checkbox-input-wrapper .mz-checkbox-input-style:after {
  @include mz-get-font-awesome-icon('\f00c', 'regular');
  color: #ffffff;
  font-size: 10px;
  background: $mz-primary-root;
}
// ######################### Check box ############################
// ######################### Check box ############################
// ######################### mz-select-file ############################
// ######################### mz-select-file ############################
input[type="file"] {
  display: none;
}
.mz-form-select-file-line {
  border-bottom: solid 1px getColorInPaletteMap('gray','lighter');
  border-radius: 0px;
  height: 100%;
  position: relative;
  display: flex;
}
.select-file-label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  z-index: 1;
  margin: 0;
}
.select-file-label span {
  width: 100%;
  color: $mz-gray-light;
  @include getSizeOfText(14px);
  height: 20px;
  overflow: hidden;
  &.is-active {
    color: $mz-gray-root;
  }
}
.select-file-button {
  margin: 0 0 0 auto;
  width: 100%;
  max-width: 100px;
}
// ######################### mz-select-file ############################
// ######################### mz-select-file ############################
.mz-radio-select {
  position: relative;
  &.is-disable {
    opacity: 0.5;
    pointer-events: none;
    cursor: unset;
  }
}
.mz-radio-select-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  outline: none;
  top: 0;
  left: 0;
}
.mz-radio-select-content {
  cursor: pointer;
  border: solid 1px $mz-gray-lightest;
  padding: getSpacingFromBase(.5);
  transition: 0.1s;
}
.mz-radio-select .mz-radio-select-input:checked + .mz-radio-select-content {
  border: solid 3px $mz-primary-root;
}
.text-error-validate {
  width: 100%;
  height: 20px;
  top: 100%;
  left: 0;
  color: $mz-primary-root;
  font-size: 13px;
}
.mz-text-validate {
  display: flex;
  padding-top: getSpacingFromBase(1);
  color: $mz-primary-root;
  @include getSizeOfText(12px);
}